// Variables

// Colors
//

$background-color:          #FFFFFF !default;
$gray-light:                #DADADA !default;
$gray:                      #AAAAAA !default;
$gray-dark:                 #333333 !default;
$gray-darker:               #222222 !default;

$font-family-sans-serif:    'Roboto', sans-serif !default;

$font-head: 30px;
$font-title: 16px;
$font-content: 15px;
$font-address: 13px;

$font-weight-head: 600;
$font-weight-normal: 500;
$font-weight-thin: 300;
