// Variables

// Colors
//

$background-color:          #FFFFFF !default;
$gray-light:                #DADADA !default;
$gray:                      #AAAAAA !default;
$gray-dark:                 #333333 !default;
$gray-darker:               #222222 !default;
